/* subpages/styles/poody-token.css */

/* Reset default margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set the font family to Baloo 2 */
body {
  font-family: "Baloo 2", cursive;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scroll */
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* Scroll behavior */
html {
  scroll-behavior: smooth;
}

/* Remove overflow hidden to allow scrolling */
body,
html {
  height: 100%;
}

/* Each section */
.section {
  height: 100vh; /* Full viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%; /* Ensure full width */
  overflow: hidden; /* Hide overflowing content */
}

/* Background colors for sections */
#section1 {
  background-color: #69e9ff; /* Light blue background */
}

#section2 {
  background-color: #ffcccb; /* Slightly pink background */
}

#section3 {
  background-color: #ffea95; /* Slightly pink background */
}

/* Content wrapper for desktop */
.content-wrapper {
  display: flex;
  width: 100%;
  height: 100%; /* Fill the section height */
  margin: 0;
  padding: 0;
  position: relative;
}

/* Image and text content */
.image-content,
.text-content {
  width: 50%;
  margin: 0px 10px;
  padding: 0;
  position: relative;
}

/* Image content */
.image-content {
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Stick to bottom */
  overflow: hidden;
}

/* Image positioning */
.image-content img {
  position: absolute;
  bottom: -100%; /* Start off-screen */
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: 75%; /* Image takes 75% of the container height */
  max-height: 75%;
  transition: bottom 1s ease-out;
}

/* When the section is in view */
.section.in-view .image-content img {
  bottom: 0; /* Slide in to position */
}

/* Text content */
.text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Left align text */
}

/* Text styles */
.small-text {
  font-size: 2em;
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}

.big-text {
  font-size: 6em;
  font-family: "Denk One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-size: 4em;
  margin: 0;
}

/* Header styling */
header {
  position: fixed;
  top: 5%; /* 5% from the top */
  left: 50%; /* Center the header horizontally */
  transform: translateX(-50%);
  width: 80%; /* Header takes 80% of viewport width */
  height: 60px; /* Fixed height */
  padding: 0 20px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px; /* Rounded edges */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Drop shadow */
  background-color: white; /* Set background to white */
  overflow: hidden;
}

/* Header icon styling */
.header-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150%;
}

.header-icon img {
  height: 80%; /* Icon takes 80% of header's height */
  width: auto;
}

.icons-container {
  display: flex;
  justify-content: center; /* Center the icons horizontally */
  align-items: center;
  margin-top: 20px; /* Space between the text and icons */
}

/* Styles for the icons */
.icons-container a {
  margin: 0 10px; /* Space between the icons */
}

.icons-container img {
  width: auto;
  height: 5vw;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.icons-container a:hover img {
  outline: 2px solid #ffffff; /* Or any style to indicate focus */
}

.title {
  font-family: 'Shadows Into Light', cursive;
}

.description {
  font-family: 'Denk One', sans-serif;
}

/* Info Grid Container Styles */
.info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  grid-gap: 20px; /* Space between items */
  align-items: start; /* Align items at the top */
  justify-items: center; /* Center items horizontally */
  margin-top: 20px; /* Space above the grid */
}

/* Info Item Styles */
.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Remove fixed width to allow the container to expand */
  width: 20vw;
  /* min-width: 200px; Set a minimum width */
}

/* Title Styles */
.title {
  background-color: #ffffff; /* Adjust background color as needed */
  padding: 20px;
  border-radius: 50px; /* Fully rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Drop shadow */
  width: 100%; /* Fill the width of the info-item */
  /* height: 100px; Fixed height */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Description Styles */
.description {
  margin-top: 10px; /* Space between title and description */
  font-size: 3em; /* Adjust font size as needed */
  text-align: center;
  width: 100%;
}

/* Mobile styles */
@media (max-width: 768px) {
  /* Adjust header for mobile */
  header {
    height: 70px; /* Slightly taller on mobile */
    border-radius: 35px; /* Half of new height */
  }

  .content-wrapper {
    flex-direction: column;
  }

  .image-content,
  .text-content {
    width: 100%;
    height: 50%;
  }

  .image-content {
    align-items: center;
    justify-content: flex-end;
    order: 2;
  }

  .text-content {
    order: 1;
    align-items: center;
    text-align: center;
    justify-content: end;
    padding-left: 0;
    padding-top: 20px;
  }

  .small-text {
    font-size: 1.5em;
  }

  .big-text,
  h2 {
    font-size: 3em;
  }

  /* Adjust image height on mobile */
  .image-content img {
    height: 75%; /* Image takes 75% of the container height */
    max-height: 75%;
  }

  .icons-container img {
    height: 10vw;
  }

  .info-grid {
  grid-template-columns: repeat(2, 1fr); /* Two columns */
}

.info-item {
  /* Remove fixed width to allow the container to expand */
  width: 40vw;
  /* min-width: 200px; Set a minimum width */
}

.description {
  margin-top: 10px; /* Space between title and description */
  font-size: 1em; /* Adjust font size as needed */
}

.title {
  padding: 10px;
  border-radius: 50px; /* Fully rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Drop shadow */
  width: 100%; /* Fill the width of the info-item */
  /* height: 100px; Fixed height */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
}

/* Remove gaps */
.text-content,
.image-content .content-wrapper {
  margin: 0;
  padding: 0;
}
